

.titolo_voce, .link_grigio {font-family: Verdana; font-size: 10px; color: #565656;}
.titolo_voce a {font-family: Verdana; font-size: 10px; color: #565656; font-weight: bold; text-decoration: none}
.link_grigio a {font-family: Verdana; font-size: 10px; color: #565656 }
.pulsanti input {font-family: Verdana; font-size: 10px; color: #525252; font-weight: bold; background-color: #FFFFFF; border: 1px #525252 solid; padding-right: 5px; padding-left: 5px}
.campi_testo input, .ordine_campi_testo input, .campi_testo select, .ordine_campi_testo select  {font-family: Arial; font-size: 11px; color: #000000; background-color: #FFFFFF; border: #525252; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.voci_header {font-family: Verdana; font-size: 10px; color: #FFFFFF; background-color: #3989BE; font-weight: bold}
.voci_header a	{font-family: Verdana; font-size: 10px; color: #FFFFFF; background-color: #3989BE; font-weight: bold; text-decoration: none}
.voci_header_sel, .voci_header_helper {font-family: Verdana; font-size: 10px; color: #FFFFFF; background-color: #F76300; font-weight: bold}
.voci_header_sel a, .voci_header_helper a {font-family: Verdana; font-size: 10px; color: #FFFFFF; background-color: #F76300; font-weight: bold; text-decoration: none}
.testi_riquadro, .messaggio_piccolo, .copyright, .copyright a {font-family: Arial; font-size: 9px; color: #565656; text-decoration : none}
.testatine	{font-family: Verdana; font-size: 10px; color: #FFFFFF; font-weight: bold}
.titolo1	{font-family: Verdana; font-size: 10px; color: #FFFFFF; font-weight: bold; background-color: #F76300}
.titolo1_ombra	{font-family: Verdana; font-size: 10px; color: #FFFFFF; font-weight: bold; background-color: #B54A00}
.menu_voce, .menu_voce a {font-family: Arial; font-size: 11px; color: #565656; font-weight: bold; text-decoration: none}
.borse_internal a {font-family: Verdana; font-size: 10px; color: #565656; text-decoration: underline}
.pulsanti_arancioni input {font-family: Verdana; font-size: 10px; color: #FFFFFF; font-weight: bold; background-color: #F76300; border: 1px #525252 solid; padding-right: 5px; padding-left: 5px}


body {font-family: Verdana; font-size: 11px; color: #000000; background-color: #eeeeee; }
p {
  margin: 1.33em 0px;
  margin-left: 40px;
  margin-right: 40px;
}
li {
  margin-left: 20px;
  margin-right: 20px;
}
td   {font-family: Verdana; font-size: 11px; color: #565656; background-color: #eeeeee;}
td a {font-family: Verdana; font-size: 11px; color: #565656; background-color: #eeeeee; font-weight: bold; text-decoration: none}
caption, .link_grigio {font-family: Verdana; font-size: 12px; color: #565656;}
.menu_option	{font-family: Verdana; font-size: 11px; color: #FFFFFF; font-weight: bold}
.helptitle, .link_grigio {font-family: Verdana; font-size: 12px;}
.titletableline   {font-family: Verdana; font-size: 12px; color: #ffffff; background-color: #398cbd; font-weight: bold; text-decoration: none}
.titletableline a {font-family: Verdana; font-size: 12px; color: #ffffff; background-color: #398cbd; font-weight: bold; text-decoration: none}
